name: Deploy Manual

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Target environment"
        required: true
        type: choice
        options:
          - DEV
          - STAGING
          - PROD
      branch:
        description: "Branch to deploy"
        required: true
        type: string
        default: "main"

jobs:
  deploy:
    name: Build and Deploy to S3 (${{ inputs.environment }})
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read
    env:
      API_BASE_URL: ${{ secrets.API_BASE_URL }}
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_S3_BUCKET_NAME: ${{ secrets.AWS_S3_BUCKET_NAME }}
      AWS_CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.AWS_CLOUDFRONT_DISTRIBUTION_ID }}
      AWS_S3_BUCKET_NAME_STORYBOOK: ${{ secrets.AWS_S3_BUCKET_NAME_STORYBOOK }}
      AWS_CLOUDFRONT_DISTRIBUTION_ID_STORYBOOK: ${{ secrets.AWS_CLOUDFRONT_DISTRIBUTION_ID_STORYBOOK }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build application
        run: npm run build
        env:
          VITE_API_BASE_URL: ${{ env.API_BASE_URL }}

      - name: Build storybook
        run: npm run build-storybook

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
          role-session-name: GitHubActions-${{ github.run_id }}

      - name: Upload to S3
        run: |
          aws s3 sync dist/ s3://${{ env.AWS_S3_BUCKET_NAME }}/ \
            --delete \
            --region us-east-1

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ env.AWS_CLOUDFRONT_DISTRIBUTION_ID }} \
            --paths "/*"
      - name: Upload to S3 (Storybook)
        run: |
          aws s3 sync storybook-static/ s3://${{ env.AWS_S3_BUCKET_NAME_STORYBOOK }}/ \
            --delete \
            --region us-east-1

      - name: Invalidate CloudFront cache (Storybook)
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ env.AWS_CLOUDFRONT_DISTRIBUTION_ID_STORYBOOK }} \
            --paths "/*"
